.navbar {
    background: #333;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    padding: 0 20px;
  }
  
  .nav-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: #007bff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 85vh;
      position: absolute;
      top: 80px;
      left: -1000%;
      opacity: 1;
      transition: all 0.5s ease;
      background: #333;
    }
  
    .nav-menu.active {
      background: #333;
      width: 100%;
      left: 0;
      padding-left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #fff;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-item:hover {
      background-color: #555;
      border-radius: 0;
    }

    .nav-links:hover {
        background-color: #007bff;
        transition: all 0.2s ease-out;
      }
  }
  