.navbar {
    background-color: #333; /* Dark background */
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  .nav-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links:hover {
    background-color: #007bff;
    border-radius: 5px;
  }
  